.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid honeydew;
}

.header__logo {
    height: 40px;   
}
 
.header__icon {
    padding: 20px;
}