.swipeButton {
    position: fixed;
    bottom: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButton .MuiButtonBase-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.swipe__replay {
  padding: 2vw !important;
  color:#f5b748 !important
}

.swipe__close {
    padding: 2vw !important;
    color:#ec5e6f !important
}

.swipe__favorite {
    padding: 2vw !important;
    color:#76e2b3 !important
}

.swipe__star {
    padding: 2vw !important;
    color: #62b4f9 !important;
}

.swipe__flash {
    padding: 2vw !important;
    color:#915dd1 !important
}

